<h2> Listing SubCategories: </h2>

<% if user_signed_in? && current_user.is_admin %>

<%= link_to "Add SubCategory", new_sub_category_path %> 

<% end %>


<% if @sub_categories.empty? %>
	<p> No sub_categories found </P>
<% else %>
   <ul>
       <% @sub_categories.each do |sub_category| %>
       <li> <%= link_to sub_category.name, sub_category_path(sub_category.id) %> - <%= sub_category.category_id %> </li>
       <% end %>
   </ul>
<% end %>